<div class="ph-project-page">
    <div>
      <ng-container *ngTemplateOutlet="uiPart.headerTemplate"></ng-container>
    </div>
    <div class="ph-text">
        Проекти
        <div class="search-bar">
            <input id="search-input" type="text" placeholder="Пошук..." style="border: 1px solid #ccc; border-radius: 4px; padding: 8px 12px; margin-bottom: 50px; margin-top: 20px; font-size: 16px;">
        </div>
        <div class="project-button">
            <button type="button" [routerLink]="['../create']">Створити проект</button>
        </div>
        <table class="project-table" style="width: 98%;">
            <thead>
                <tr>
                    <th>Назва проекту</th>
                    <th>Опис</th>
                    <th>Строки реалізації проекту</th>
                    <th>Керівник</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Проект 1</td>
                    <td>Опис проекту 1</td>
                    <td>Строки 1</td>
                    <td>Керівник 1</td>
                </tr>
                <tr>
                    <td>Проект 2</td>
                    <td>Опис проекту 2</td>
                    <td>Строки 2</td>
                    <td>Керівник 2</td>
                </tr>
                <tr>
                    <td>Проект 3</td>
                    <td>Опис проекту 3</td>
                    <td>Строки 3</td>
                    <td>Керівник 3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
