<div class="ph-project-page">
  <div>
    <ng-container *ngTemplateOutlet="uiPart.headerTemplate"></ng-container>
  </div>
  <div class="ph-project-page__inner">
    <aside class="sidebar">
      <div class="project-info">
        <div class="project-info__logo">
          <img class="project-info__logo-img" src="assets/bulb.jpg" alt="logo">
        </div>
        <div class="project-info__text">
          <div class="project-info__title">
            {{project.title}}
          </div>
          <div class="project-info__description">
            {{project.description}}
          </div>
        </div>
      </div>
      <div class="side-menu">
        <button [routerLink] = "['../../project', project.id]" class="side-menu__button side-menu__button_inactive">Головна</button>
        <button [routerLink] = "['../../boards', project.id]" class="side-menu__button side-menu__button_inactive">Дошки</button>
        <button [routerLink] = "['../../members', project.id]" class="side-menu__button side-menu__button_active" >Учасники</button>
        <button class="side-menu__button side-menu__button_inactive">Налаштування</button>
      </div>
    </aside>
    <div class="content">
      <div class="bread-crumbs">
        Проекти / {{ project.title }} / Учасники
      </div>
      <div class="container">
        <div class="left-square">
          <ul class="participants-list">
            <li>
              <h2 class="square-title">Учасники</h2>
              <div class="participant">
                <div class="participant-info">
                  <div class="participant-nickname">Ник 1</div>
                  <div class="participant-specialization">Специализация 1</div>
                </div>
                <div class="participant-delete">✕</div>
              </div>
            </li>
            <li>
              <div class="participant">
                <div class="participant-info">
                  <div class="participant-nickname">Ник 2</div>
                  <div class="participant-specialization">Специализация 2</div>
                </div>
                <div class="participant-delete">✕</div>
              </div>
            </li>
            <li>
              <div class="participant">
                <div class="participant-info">
                  <div class="participant-nickname">Ник 3</div>
                  <div class="participant-specialization">Специализация 3</div>
                </div>
                <div class="participant-delete">✕</div>
              </div>
            </li>
            <li>
              <div class="participant">
                <div class="participant-info">
                  <div class="participant-nickname">Ник 4</div>
                  <div class="participant-specialization">Специализация 4</div>
                </div>
                <div class="participant-delete">✕</div>
              </div>
            </li>
            <li>
              <div class="participant">
                <div class="participant-info">
                  <div class="participant-nickname">Ник 5</div>
                  <div class="participant-specialization">Специализация 5</div>
                </div>
                <div class="participant-delete">✕</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="right-square">
          <div class="detail-info">
            <h2 class="square-title">Детальна інформація</h2>
            <p>Nickname: There can be your nickname</p>
            <p>E-mail: something@gmail.com</p>
            <p>Ім'я: Алекс</p>
            <p>Прізвище: Горний</p>
            <p>Посада: Адмін/менеджер/користувач</p>
            <p>Коли був доданий: Дата коли було додано</p>
          </div>
        </div>
        <button class="add-participant-button">Додати учасника</button>
      </div>
    </div>
  </div>
</div>
