<div class="ph-project-page">
    <div>
      <ng-container *ngTemplateOutlet="uiPart.headerTemplate"></ng-container>
    </div>
    <div class="ph-project-page__inner">
        <aside class="sidebar">
            <div class="project-info">
                <div class="project-info__logo">
                    <img class="project-info__logo-img" src="assets/bulb.jpg" alt="logo">
                </div>
                <div class="project-info__text">
                    <div class="project-info__title">
                        Project title
                    </div>
                    <div class="project-info__description">
                        description
                    </div>
                </div>

            </div>
            <div class="side-menu">
                <button [routerLink] = "['../../project', project.id]" class="side-menu__button side-menu__button_inactive">Головна</button>
                <button [routerLink] = "['../../boards', project.id]" class="side-menu__button side-menu__button_active">Дошки</button>
                <button [routerLink] = "['../../members', project.id]" class="side-menu__button side-menu__button_inactive" >Учасники</button>
                <button class="side-menu__button side-menu__button_inactive">Налаштування</button>
            </div>
        </aside>
        <div class="content">
            <div class="bread-crumbs">
                Проекти / Smart Farm / Дошки
            </div>
            <div class="content__inner">
                <div class="boards">
                    <div class="board board_complete">

                        <div class="board__inner">
                            <div class="head head_complete">
                                Виконати
                            </div>
                            <div class="tasks">
                                <div class="task">
                                    <div class="info">
                                        <div class="main-info">
                                            <div class="img-container">
                                                <img src="assets/boards/complete.png" alt="" class="image">
                                            </div>
                                            <div class="name">
                                                Завдання 1
                                            </div>
                                        </div>
        
                                        <div class="executor">
                                            Загальне
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <div class="terms tag">04.06.2023</div>
                                        <div class="marks tag">Normal</div>
                                        <div class="priority tag">Пріоритет: звичайний</div>
                                    </div>
                                </div>

                                <div class="task">
                                    <div class="info">
                                        <div class="main-info">
                                            <div class="img-container">
                                                <img src="assets/boards/complete.png" alt="" class="image">
                                            </div>
                                            <div class="name">
                                                Завдання 2
                                            </div>
                                        </div>
        
                                        <div class="executor">
                                            Загальне
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <div class="terms tag">04.06.2023</div>
                                        <div class="marks tag">Normal</div>
                                        <div class="priority tag">Пріоритет: звичайний</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="board board_in-progress">


                        <div class="board__inner">
                            <div class="head head_in-progress">
                                В процесі
                            </div>
                            <div class="tasks">
                                <div class="task">
                                    <div class="info">
                                        <div class="main-info">
                                            <div class="img-container">
                                                <img src="assets/boards/complete.png" alt="" class="image">
                                            </div>
                                            <div class="name">
                                                Завдання 1
                                            </div>
                                        </div>
        
                                        <div class="executor">
                                            Загальне
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <div class="terms tag">04.06.2023</div>
                                        <div class="marks tag">Normal</div>
                                        <div class="priority tag">Пріоритет: звичайний</div>
                                    </div>
                                </div>

                                <div class="task">
                                    <div class="info">
                                        <div class="main-info">
                                            <div class="img-container">
                                                <img src="assets/boards/complete.png" alt="" class="image">
                                            </div>
                                            <div class="name">
                                                Завдання 2
                                            </div>
                                        </div>
        
                                        <div class="executor">
                                            Загальне
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <div class="terms tag">04.06.2023</div>
                                        <div class="marks tag">Normal</div>
                                        <div class="priority tag">Пріоритет: звичайний</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="board board-completed">


                        <div class="board__inner">
                            <div class="head head_completed">
                                Виконано
                            </div>
                            <div class="tasks">
                                <div class="task">
                                    <div class="info">
                                        <div class="main-info">
                                            <div class="img-container">
                                                <img src="assets/boards/complete.png" alt="" class="image">
                                            </div>
                                            <div class="name">
                                                Завдання 1
                                            </div>
                                        </div>
        
                                        <div class="executor">
                                            Загальне
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <div class="terms tag">04.06.2023</div>
                                        <div class="marks tag">Normal</div>
                                        <div class="priority tag">Пріоритет: звичайний</div>
                                    </div>
                                </div>

                                <div class="task">
                                    <div class="info">
                                        <div class="main-info">
                                            <div class="img-container">
                                                <img src="assets/boards/complete.png" alt="" class="image">
                                            </div>
                                            <div class="name">
                                                Завдання 2
                                            </div>
                                        </div>
        
                                        <div class="executor">
                                            Загальне
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <div class="terms tag">04.06.2023</div>
                                        <div class="marks tag">Normal</div>
                                        <div class="priority tag">Пріоритет: звичайний</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
