<div class="ph-pricing">
    <div class="container">
        <div class="ph-pricing-page__title">
            <h1 class="title">Порівняння цінових планів</h1>
            <p class="subtitle">Оберіть тариф, який підійде під Ваші потреби</p>
        </div>
        <div class="price-table-container">
            <table class="price-table">
                <thead>
                    <tr>
                        <th>Критерій</th>
                        <th>Стандарт</th>
                        <th>Просунутий</th>
                        <th>Професійний</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="price-table__crierie">Максимальна кількість проектів</td>
                        <td>3</td>
                        <td>10</td>
                        <td>∞</td>
                    </tr>
                    <tr>
                        <td class="price-table__crierie">Максимальна кількість користувачів на проекті</td>
                        <td>25</td>
                        <td>100</td>
                        <td>∞</td>
                    </tr>
                    <tr>
                        <td class="price-table__crierie">Індивідуальна підтримка</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td class="price-table__crierie">Звітність та аналітика</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td class="price-table__crierie">Вартість</td>
                        <td>150₴ / місяць</td>
                        <td>300₴ / місяць</td>
                        <td>500₴ / місяць</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div [routerLink]="['/new']" class="back-arrow">
            <a>
                ← Повернутися на головну
            </a>
        </div>
    </div>
</div>