.ph-start-work {
  background-color: #FFFEEE;

  .ph-main-text {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 63px;
  }
}

.ph-try-our-app {
  background-color: #F5F5F5;

  .ph-try-our-app-text {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
  }
}
