<div class="ph-add-mem">
    <div class="header">
      <ng-container *ngTemplateOutlet="uiPart.headerTemplate"></ng-container>
    </div>
    <div class="bread-crumbs">
                Проекти / Smart Farm / Учасники / Додавання учасника
            </div>
    <div class="arrow">
        <p-button icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
    <div class="square">
      <div class="main-text">
        Додавання учасника
      </div>
      <div class="email-place">
        <div class="input-text">Введіть пошту учасника</div>
        <input type="email" placeholder="Enter email" class="rounded-input" />
        <div class="adding-button">
            <button type="button">Додати учасника</button>
        </div>
      </div>
    </div>
</div>
