<div class="ph-project-page">
    <div>
      <ng-container *ngTemplateOutlet="uiPart.headerTemplate"></ng-container>
    </div>
    <div class="ph-project-page__inner">
        <aside class="sidebar">
            <div class="project-info">
                <div class="project-info__logo">
                    <img class="project-info__logo-img" src="assets/bulb.jpg" alt="logo">
                </div>
                <div class="project-info__text">
                    <div class="project-info__title">
                        {{project.title}}
                    </div>
                    <div class="project-info__description">
                        {{project.description}}
                    </div>
                </div>

            </div>
            <div class="side-menu">
                <button [routerLink] = "['../../project', project.id]" class="side-menu__button side-menu__button_active">Головна</button>
                <button [routerLink] = "['../../boards', project.id]" class="side-menu__button side-menu__button_inactive">Дошки</button>
                <button [routerLink] = "['../../members', project.id]" class="side-menu__button side-menu__button_inactive" >Учасники</button>
                <button class="side-menu__button side-menu__button_inactive">Налаштування</button>
            </div>
        </aside>
        <div class="content">
            <div class="bread-crumbs">
                Проекти / {{project.title}} / Головна
            </div>
            <div class="content__inner">
                <div class="project-head">
                    <div class="project-head__leader">
                        <div class="leader__img-container">
                            <img class="leader__img" src="assets/user.png" alt="acc">
                        </div>
                        <div class="leader__text">
                            <div class="leader__name">
                                {{ admin.firstName }} {{ admin.lastName }}
                            </div>
                            <div class="leader__role">
                                адміністратор
                            </div>
                        </div>
                    </div>
                    <div class="project-head__main-info">
                        <div class="project-head__title">
                            {{project.title}}
                        </div>
                        <div class="project-head__description">
                            {{project.description}}
                        </div>
                    </div>
                    <div class="project-head__dates">
                        <div class="project-head__start-date">
                            Дата початку: {{ project.startDate | date:'dd.MM.yyyy' }}
                        </div>
                        <div class="project-head__end-date">
                            Дата закінчення: {{ project.endDate | date:'dd.MM.yyyy' }}
                        </div>
                    </div>
                </div>
                <div class="info">
                    Для початку роботи оберіть пункт в меню зліва
                </div>
            </div>
        </div>
    </div>
</div>
