<div class="ph-capabilities">
    <div class="capabilities-container">
        <div class="capability">
            <div class="capability__img-container">
                <img class="capability__img">
            </div>
            <div class="capability__text">
                <div class="capability__title">
                    lorem
                </div>
                <div class="capability__content">
                    lorem
                </div>
            </div>
        </div>
    </div>
</div>