<div class="ph-create-project-page">
  <div>
    <ng-container *ngTemplateOutlet="uiParts.headerTemplate"></ng-container>
  </div>
  <div class="bread-crumbs">
    Проекти / Новий проект
  </div>

  <form class="create-project-form" [formGroup]="form" (ngSubmit)="createProject()">
    <div class="create-project_background">
        <div class="top-nav">
            <div class="arrow-hover" [routerLink]="['/projects']">
            <div></div>
            </div>
        </div>

        <div class="create-label" style="margin-bottom: 10px;">
            Створення проекту
        </div>

        <div class="project-photo-container">
            <img src="/assets/picture.png" alt="Project photo" class="project-photo">
        </div>

        <div class="add-photo-button">
            <button type="button">Додати зображення</button>
        </div>

        <div class="title-input">
            <label for="title" class="title-label">Назва проекту</label>
            <input required type="text" id="title" formControlName="title" placeholder="Enter here">
        </div>

        <div class="description-input">
            <label for="description" class="description-label">Опис проекту</label>
            <input type="text" id="description" formControlName="description" placeholder="Enter here">
        </div>

        <div class="terms-input">
            <label for="terms" class="terms-label">Строки виконання</label>
            <div class="start-date">
            <label for="terms" class="timeframe">Дата початку</label>
            <input type="date" id="terms" formControlName="startDate"/>
            </div>
            <div class="end-date">
            <label for="terms" class="timeframe">Дата завершення</label>
            <input required type="date" id="terms" formControlName="endDate"/>
            </div>
        </div>
        <div class="create-button">
            <input type="submit" value = "Створити проект">
        </div>
        </div>
  </form>
</div>

<p-toast></p-toast>

