<div class="ph-profile-page">
  <div>
    <ng-container *ngTemplateOutlet="uiParts.headerTemplate"></ng-container>
  </div>
  <div class="container">
    <h1>Твій профіль</h1>

  <div class="cover-photo-container">
    <div class="cover-photo default-cover">
      <div class="profile-photo"></div> <!-- Місце для фотографії -->
    </div>
  </div>

  <div class="profile-grid">
    <div class="user-info">
      <h2>Детальна інформація</h2>
      <p>Nickname: {{user?.login}}</p>
      <p>E-mail: {{user?.email}}</p>
      <p>Ім'я: {{user?.firstName ? user?.firstName : 'No name'}}</p>
      <p>Прізвище: {{user?.lastName ? user?.lastName : 'No surname'}}</p>
      <p>Посада: {{user?.role}}</p>
    </div>

    <div class="vl"></div>

    <div class="settings-buttons">
      <h2>Налаштування</h2>
      <button class="button orange" (click)="openUpdateDialog()">Змінити інформацію</button>
      <button class="button orange">Змінити фото профіля</button>
      <div class="password-fields">
        <h2>Зміна паролю</h2>
        <input type="password" placeholder="Старий пароль">
        <input type="password" placeholder="Новий пароль">
        <input type="password" placeholder="Підтвердження паролю">
        <button class="button">Підтвердити зміну</button>
      </div>
    </div>
  </div>
  </div>
  
</div>

<p-toast></p-toast>

<p-dialog
    header="Редагування Інформації"
    [(visible)]="openDialog"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="true"
    [resizable]="true">
    <ng-container *ngTemplateOutlet="contentDialog"></ng-container>
</p-dialog>


<ng-template #contentDialog>
    <form [formGroup]="form" (ngSubmit)="updateUser()">
        <div style="display: flex; flex-direction: column">
            <input
                type="text"
                formControlName="login"
                pInputText
                [placeholder]="'Login'"/>
            <input
                type="text"
                pInputText
                formControlName="firstName"
                [placeholder]="'Ім`я'"
                style="margin-top: 20px"/>
            <input
                type="text"
                pInputText
                formControlName="lastName"
                [placeholder]="'Призвіще'"
                style="margin-top: 20px"/>

            <p-button
                label="Змінити"
                type="submit"
                style="margin-top: 20px; display: flex; justify-content: end"
                styleClass="p-button-raised p-button-text"></p-button>
        </div>
    </form>
</ng-template>
