<div class="ph-task-page">
    <div>
      <ng-container *ngTemplateOutlet="uiPart.headerTemplate"></ng-container>
    </div>
    <div class="ph-project-page__inner">
        <div class="container">
            <div class="bread-crumbs">
                Проекти / {{ project.title }} / Завдання / {{ task.name }}
            </div>
            <div class="arrow" [routerLink] = "['/projects/boards', project.id]">
                <p-button icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
            </div>
            <div class="task-form-container">
                <form class="task-form" [formGroup]="form" (ngSubmit)="updateTask()">
                    <div class="task-form__inner">
                        <div class="task-form__main">
                            <div class="task-form__task-name">
                                <label class="task-form__label section-name" for = "name">Назва завдання</label>
                                <input class="task-form__name-input" id = "name" type="text" formControlName="name" [value]="this.task.name">
                            </div>
    
                            <div class="task-form__additional-info">
                                <div class="task-form__task-marks task-form__additional-input">
                                    <label class="task-form__additional-input-label" for = "mark">Маркування задачі</label>
                                    <select class="task-form__select-input" id = "mark" >
                                        <option value="Normal" selected>Normal</option>
                                        <option value="Burning">Burning</option>
                                        <option value="Optional">Optional</option>
                                    </select>
                                </div>
    
                                <div class="task-form__task-terms task-form__additional-input">
                                    <label class="task-form__additional-input-label" for = "date">Сроки</label>
                                    <input class="task-form__select-input" type ="date" formControlName="date" id = "date" [value]="this.datePipe.transform(this.task.endDate, 'yyyy-MM-dd')">
                                </div>
    
                                <div class="task-form__status task-form__additional-input">
                                    <label class="task-form__additional-input-label" for = "priority">Пріоритет</label>
                                    <select class="task-form__select-input" id = "priority" formControlName="priority" [value]="this.task.priority">
                                        <option value="2">Підвищений</option>
                                        <option value="1">Звичайний</option>
                                        <option value="0">Понижений</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="task-form__task-description">
                                <label class="task-form__label section-name" for = "description">Опис завдання</label>
                                <textarea name="description" class="task-form__textarea" formControlName="description" [value]="this.task.description"></textarea>
                            </div>
    
                            <div class="task-form__attachments">
                                <p class="task-form__label section-name">Вкладення</p>
                                <div class="task-form__attachments-container">
                                    <div class="attachment">
                                        
                                    </div>
                                </div>
                                <div style="margin-top: 15px">
                                    <p-button class="attachment-button" styleClass="p-button-warning">Додати вкладення</p-button>
                                </div>
                            </div>
    
                        </div>
                        <div class="task-form__side">
                            <div class="task-form__data">
                                Відомості
                                <div class="author">
                                    <div class="author__text">
                                        Автор
                                    </div>
                                    <div class="author__name">
                                        {{ author ?  (author.firstName + ' ' + author.lastName + ' (' + author.email + ')') : "Не визначено" }}
                                    </div>
                                </div>
                            
                                <div class="executor">
                                    <div class="author__text">
                                        Виконавець
                                    </div>
                                    <div class="author__name">
                                        {{ executor ?  (executor.firstName + ' ' + executor.lastName + ' (' + executor.email + ')') : "Не назначено" }}
                                    </div>
                                </div>
                                
                                <div class="add-executor">
                                    <form class="add-executor-form" [formGroup]="executorForm" (ngSubmit)="addExecutor()">
                                        <input class="add-executor-form__email-input" type="email" placeholder="email@mail.com" formControlName="email">
                                        <input class="add-executor__submit-button" type="submit" value="Назначити">
                                    </form>

                                    <input type="button" class ="add-executor__submit-button" style="margin-top: 10px; width: 100%" (click)="removeExecutor()" value = "Видалити виконавця">
                                </div>
                            </div>
    
                            <div class="task-form__subtasks">
                                <div class="subtasks">
                                    <div class="subtasks__complement"></div>
                                    <div class="subtasks_list">
                                        <!-- -->
                                    </div>
                                </div>
    
                                <button class="edit-subtasks"></button>
                            </div>

                            <div class="task-form__status-form-container">
                                <form class = "status-form" method = "post" action = "/update">
                                    <div class="status-form__task-status status-form__additional-input">
                                        <label class="task-form__additional-input-label" for = "status">Статус завдання</label>
                                        <select class="task-form__select-input" id = "status" name="status" formControlName="status" [value] = "this.task.status">
                                            <option value="In progress">In progress</option>
                                            <option value="Completed">Completed</option>
                                            <option value="To do">To do</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div class="task-form__submit-button-container">
                        <input class = "task-form__submit-button" type="submit" value="Зберегти зміни">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>